.lobbies {
  padding: 20px;

  &__main__row {
    font-weight: bold;
    font-size: 20px;
  }

  &__row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }

  &__col__1 {
    text-align: left;
    display: block;
    width: 30%;
  }

  &__col__2 {
    display: block;
    width: 20%;
    text-align: center;
  }

  &__col__3 {
    text-align: center;
    display: block;
    width: 20%;
  }

  &__col__4 {
    display: block;
    width: 20%;
  }

  button {
    background: transparent;
    border: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    outline: none;

    &:hover {
      color: $color-hover;
    }
  }
}