.main {
  &__header {
    margin-bottom: 180px;
    position: relative;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    margin-left: 100px;
  }

  &__new,
  &__join {
    background: none;
    border: none;
    font-size: 50px;
    outline: none;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $color-hover;
    }
  }

  span {
    font-weight: bold;
  }

  &__sun {
    position: absolute;
    bottom: 10%;
    right: 15%;
  }
}